.calc-container{
    position:  absolute;
    width: 350px;
    height: 470px;
    top: calc(50% - 235px);
    left: calc(50% - 175px);
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(37, 113, 163);
}
.buttons{
    height: calc(100% - 70px);
    margin-top: 30px;
    
}
.digits{
    display: inline-block;
    width: 59%;
    height: 100%;
}
.other{
    position: relative;
    margin-top: -114%;
    margin-left: 60%;
    height: 100%;
    width: 39%;

}
#screen{
    width: 100%;
    height: 70px;
    background-color: rgb(160, 225, 255);
    vertical-align: middle;
    padding: 5px;
    line-height:70px;
    font-size: 20px;
}
.row-digits{
    width: 100%;
    margin-top: 15%;
}
.key-digit{
    width: 29%;
    margin-left: 1%;
    height: 55px;
    border-radius: 15px;
    border: none;
    transition: box-shadow 300ms ease-in-out;
    background-color: rgb(80, 155, 240);
    font-size: 24px;
}
.key-digit:hover{
    box-shadow: inset 0 -5px 5px rgb(34, 84, 131);
    transition: box-shadow 300ms ease-in-out
}
.row-other{
    width: 100%;
    margin-top: 22%;
    height: 55px;
}
.key-operation{
    width:47%;
    margin-left: 1%;
    height: 55px;
    border-radius: 15px;
    border: 0;
    outline: none;
    transition: box-shadow 300ms ease-in-out;
    background-color: rgb(80, 155, 240);
    font-size: 24px;
}
.key-operation:hover{
    box-shadow: inset 0 -5px 5px rgb(34, 84, 131);
    transition: box-shadow 300ms ease-in-out
}
.key-bracket{
    width:47%;
    margin-left: 1%;
    height: 55px;
    border-radius: 15px;
    border: 0px;
    transition: box-shadow 300ms ease-in-out;
    background-color: rgb(80, 155, 240);
    font-size: 24px;
}
.key-bracket:hover{
    box-shadow: inset 0 -5px 5px rgb(34, 84, 131);;
    transition: box-shadow 300ms ease-in-out
}
#key-result{
    width:47%;
    margin-left: 1%;
    height: 55px;
    border-radius: 15px;
    border: none;
    transition: box-shadow 300ms ease-in-out;
    background-color: rgb(80, 155, 240);
    font-size: 24px;
}
#key-result:hover{
    box-shadow: inset 0 -5px 5px rgb(34, 84, 131);
    transition: box-shadow 300ms ease-in-out
}
#key-clear{
    width:47%;
    margin-left: 1%;
    height: 55px;
    border-radius: 15px;
    border: none;
    transition: box-shadow 300ms ease-in-out;
    background-color: rgb(80, 155, 240);
    font-size: 24px;
}
#key-clear:hover{
    box-shadow: inset 0 -5px 5px rgb(34, 84, 131);
    transition: box-shadow 300ms ease-in-out;
    background-color: rgb(80, 155, 240);
}